.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color: red;
}

a, a:hover, a:focus{
	color: red;
}


.btn-red{
	background-color: red;
	color: white;
	outline: none;

	&:hover, &:focus{
		color: white;
	}
}

#tweets-list{
	margin-top: 10px;
}
