<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css" />
<script src="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js"></script>

<div id="side-bar-container" ng-app="sideBar">
  <div id="side-bar" class="nav nav-stacked" ng-controller="TestsJsonController as testCntr">
    <h3>
      <span id="header-string">Reports {{testCntr.testsJson.length}}</span>
      <span class="glyphicon glyphicon-remove" onclick="hideSideBar();"></span>
      <span class="glyphicon glyphicon-repeat" ng-click="testCntr.getTests();"></span>
    </h3>
    <div id="ul-tests-wrapper">
      <ul id="ul-tests">
        <li class="li-test" ng-repeat="test in testCntr.testsJson">
          <div class="column col-left">
            <div class="column col-type">{{test.type}}</div>
            <div class="column col-name">{{test.name}}</div>
            <div>{{test.location}}</div>
          </div>
          <div class="column col-right">
            <div>{{testCntr.getDate(test.updated)}}</div>
            <div>{{testCntr.getTime(test.updated)}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="side-bar-circle"><span class="glyphicon glyphicon-eye-open" onclick="showSideBar();"></span></div>
